.footer {
    height: auto;
    background-color: $MED_GRAY;
    color: #999;
    margin-top: 24px;
    text-align: center;
    text-transform: uppercase;
    
    @include screen-large {
        height: $FOOTER_HEIGHT;
    }

    .inner {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding-bottom:  40px;
        
        @include screen-large {
            flex-direction: row;
            padding-bottom:  0;
        }
    }

    .project-link-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        @include screen-large {
            // margin-right: 30px;
            flex-direction: row;
        }

        .footer-project-link {
            padding: 0;
            margin-bottom: 20px;

            @include screen-large {
                padding: 0 20px 0 20px;
                margin-bottom: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }

        }
        a:hover {
            color: $FADED_ORANGE;
        }
    }

    .project-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;

        @include screen-large {
            flex-direction: row;
        }
    }
}
