.header {
    height: 80px;
    position: fixed;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    z-index: $Z_INDEX_HEADER;
    opacity: .9;

    // These are required to let flexbox work with fixed position
    top: 0;
    left: 0;
    right: 0;

    .logo {
        height: 60px;
        margin-top: 20px;
    }

}
