.header {
    height: 80px;
    position: fixed;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    z-index: $Z_INDEX_HEADER;
    opacity: .9;

    // These are required to let flexbox work with fixed position
    top: 0;
    left: 0;
    right: 0;

    .logo {
        height: 60px;
        margin-top: 20px;
    }

}

.icon-button {
    width: 30px;
    height: 30px;
    border-radius: 20%;
    border-width: 2px;
    transition: all $TRANSITION_TIME;
    background-color: $GRAY;
    border-color: $GRAY;
    border-style: solid;
    display: flex;
    @include screen-large {
        margin-right: 20px;
    }

    svg {
        margin: 0;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        transition: all $TRANSITION_TIME;

        rect {
            transition: all $TRANSITION_TIME;
        }
        path {
            transition: all $TRANSITION_TIME;
            fill: $WHITE;
        }
    }
    &:hover {
        border-color: $FADED_ORANGE;
        background-color: $FADED_ORANGE;
        svg path {
            fill: $WHITE;
        }
    }

    &.email {
        svg {
            transition: all $TRANSITION_TIME;
            width: 24px;
            margin-left: auto;
            margin-right: auto;
            path {
                transition: all $TRANSITION_TIME;
                fill: none;
            }
            g {
                fill:$WHITE;
            }
        }
        &:hover {
            svg {
                rect,
                path {
                    stroke: $FADED_ORANGE;
                }
            }
        }
    }
}

.inner-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: absolute;
    right: 12px;

    @include small-screens {
        margin-bottom: 40px;
        a:first-child .icon-button {
            margin-right: 20px;
        }
    }

    @include screen-medium-only {
        margin-bottom: 40px;
        a:first-child .icon-button {
            margin-right: 20px;
        }
    }

}
