.hero {
    height: 100vh;

    .hero-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    &.mycite {
        background-image: image-url('mycite/calendar.jpg');
        background-size: cover;

        .hero-overlay {
            background-image: image-url('mycite/abilify.png');
        }
    }

    &.ybvr_white_label {
        background-image: image-url('ybvr_white_label/forest.png');
        background-size: cover;

        .hero-overlay {
            background-image: image-url('ybvr_white_label/menu_ui.png');
        }
    }

    &.ybvr_brand {
        background-image: image-url('ybvr_brand/yosemite.jpg');
        background-size: cover;

        .hero-overlay {
            background-image: image-url('ybvr_brand/ybvr_logo.png');
            background-size: 80%;

            @include screen-medium {
                background-size: 60%;
            }
            @include screen-large {
                background-size: 40%;
            }

        }
    }

    &.traverse {
        background-image: image-url('traverse/map.png');
        background-size: cover;
        @include screen-small {
            background-position-x: 25%;
        }

        .hero-overlay {
            background-image: image-url('traverse/logo.png');
            background-position: 50% 50%;
            background-size: 150%;
            @include screen-medium {
                background-size: 125%;
            }
            @include screen-large {
                background-size: contain;
            }
        }
    }

    &.amma {
        background-image: image-url('amma/runner.jpg');
        background-size: cover;
        background-position-x: 72%;

        .hero-overlay {
            background-image: image-url('amma/hero_logo.png');
            background-size: 170%;
            @include screen-medium {
                background-size: 120%;
            }
            @include screen-large {
                background-size: contain;
            }

        }
    }

    &.other {
        background-image: image-url('other/workspace.jpg');
        background-size: cover;
        background-position-x: 50%;

        .hero-overlay {
            background-image: image-url('other/other_logo.png');
            background-size: 200%;
            @include screen-medium {
                background-size: 150%;
            }
        }
    }
}
