.hero {
    height: 100vh;

    .hero-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    &.mycite {
        background-image: image-url('mycite/calendar.jpg');
        background-size: cover;

        .hero-overlay {
            background-image: image-url('mycite/abilify.png');
        }
    }

    &.ybvr_white_label {
        background-image: image-url('ybvr_white_label/forest.png');
        background-size: cover;

        .hero-overlay {
            background-image: image-url('ybvr_white_label/menu_ui.png');
        }
    }

    &.ybvr_brand {
        background-image: image-url('ybvr_brand/yosemite.jpg');
        background-size: cover;

        .hero-overlay {
            background-image: image-url('ybvr_brand/ybvr_logo.png');
        }
    }

    &.traverse {
        background-image: image-url('traverse/map.png');
        background-size: cover;

        .hero-overlay {
            background-image: image-url('traverse/logo.png');
        }
    }

    &.amma {
        background-image: image-url('amma/runner.jpg');
        background-size: cover;

        .hero-overlay {
            background-image: image-url('amma/logo_phone.png');
        }
    }

    &.other {
        background-image: image-url('other/workspace.jpg');
        background-size: cover;

        .hero-overlay {
            background-image: image-url('other/other_logo.png');
        }
    }
}
