.project-header {
    flex-direction: column;
    margin-bottom: 24px;
    margin-top: 120px;

    @include screen-small {
        flex-direction: column;
    }

    .project-image {
        max-height: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 300px;
        padding-bottom: 24px;
    }

    .project-header-content {
        background-color: $LIGHT_GRAY;
        display: flex;
    }

    .project-text {
        margin-top: 40px;
    }

    .row {
        display: flex;
        flex-direction: row;

        &.inner {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-bottom: 20px;

            padding: 0 20px;
            @include not-small-screens {
                flex-direction: row;
                padding: 0 68px;
            }

            @include screen-large {
                padding: 0 108px;
            }
        }

        .column {
            padding-left: 0px;
            width: calc(100% - 10px);
            @include not-small-screens {
                padding-left: 20px;
            }

            &.first {
                padding-left: 0;
                padding-right: 0;

                @include not-small-screens {
                    padding-right: 20px;
                }
            }
        }
    }

    .project-header-images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        @include not-small-screens {
            margin-top: 0;
        }

        .project-header-container {
            width: calc((100% - 24px) / 2);
        }

        .project-header-image {
            margin: 0;
            width: calc((100% - 40px - 10px) / 2);
            &.first {
                margin-right: 40px;
            }
        }

        &.ybvr_white_label {
            .project-header-image {
                width: auto;
            }
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;

    @include screen-small {
        flex-direction: row;
    }
    @include not-small-screens {
        flex-direction: row;
    }

    .column {
        width: calc(100% - 10px);
        padding-left: 0;

        @include not-small-screens {
            padding-left: 20px;
        }

        .ybvr-before {
            display: block;
            margin: auto;
            @include small-screens {
                margin-top: 20px;
            }
        }

        &.first {
            padding-left: 0;
            padding-right: 0;

            @include not-small-screens {
                padding-right: 20px;
            }
        }

        &.two-images {
            img {
                margin: 0;
                width: calc((100% - 40px - 10px) / 2);
                &.first {
                    margin-right: 40px;
                }
            }
        }
    }

    &.no-margin {
        margin-top: 0;
        margin-bottom: 0;
    }

    &.block-statement {
        display: block;
        border: solid 1px $DARK_GRAY;
        padding: 20px;
        font-size: 24px;
        text-transform: uppercase;
    }

    &.dual-text {
        blockquote {
            font-size: 16px;
        }
    }

    &.full-image {
        img {
            width: 100%;
        }
    }
}
.image-container {
    background-color: $MED_GRAY;
    padding: 10px 60px;
}
.load-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;

    &.hide {
        display: none;
    }

    .load-more-text {
        color: $GRAY;
        font-size: 18px;
        font-weight: bold;
    }
    .load-more-button {
        margin: 10px;
        height: 48px;
        width: 48px;
        border-radius: 100%;
        border-width: 3px;
        border-color: $GRAY;

        svg {
            margin: 0;
            width: 20px;
            height: 28px;
            vertical-align: middle;
        }

    }
    &:hover {
        cursor: pointer;
        .load-more-text {
            color: $FADED_ORANGE;
        }
        .load-more-button {
            border-color: $FADED_ORANGE;

            path,
            svg {
                fill: $FADED_ORANGE;
            }
        }
    }
    &:active {
        cursor: pointer;
        .load-more-text {
            color: $ORANGE;
        }
        .load-more-button {
            border-color: $ORANGE;

            path,
            svg {
                fill: $ORANGE;
            }
        }

    }
}


.project-content {
    &.hidden {
        height: 0;
        overflow: hidden;
    }
}

.project-details {
    min-width: 33%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 0;
    line-height: 26px;

    strong {
        font-weight: 700;
    }
}

.project-intro {
    padding: 0 20px 0 0;
    @include screen-small {
        margin-top: 32px;
    }
}

.project-link {
    line-height: 30px;

    a {
        color: $ORANGE;
    }
}

.main-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 0 20px;

    @include not-small-screens {
        padding: 0 48px;
    }


    .inner {
        padding: 0;
        @include not-small-screens {
            padding: 0 20px;
        }
    }
}

section {
    margin-top: 40px;
}

.content {
    margin-top: 60px;
    @include screen-small {
        margin-left: 20px;
        margin-right: 20px;
    }
    @include screen-medium {
        margin-left: $CONTENT_MARGIN;
        margin-right: $CONTENT_MARGIN;
    }

    blockquote {
        margin-top: 10px;
    }

    .full-width {
        @include screen-medium {
            margin-left: -$CONTENT_MARGIN;
            margin-right: -$CONTENT_MARGIN;
        }
    }
}

.screens-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    width: auto;

    +.screens-container {
        margin-top: 0;
    }

    &.user-stories {
        margin-top: 0;
    }

    @include screen-small {
        flex-direction: column;
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    @include screen-medium {
        div {
            width: 30%
        }
    }

    .persona {
        img {
            margin-bottom: 8px;

            &.user-story {
                margin-top: 0px;
            }
        }
        img:last-child {
            margin-bottom: 16px;
        }
    }
}

.amma {
    .top-image {
        display: flex;
        flex-direction: row;
        justify-content: center;

        >div {
            max-width: 80%;
            @include screen-medium {
                max-width: 60%;
            }
            @include screen-large {
                max-width: 40%;
            }
        }
    }
}

.other {
    .item-container {
        display: flex;
        padding: 20px 0;

        @include screen-small {
            flex-direction: column-reverse;
        }
    }

    .item-description {
        padding: 0 20px;
    }

    .item-image {
        @include screen-small {
            padding: 24px 20px;
        }
        img {
            margin-top: 0;
            @include screen-medium {
                max-width: 400px;
            }
            @include screen-large {
                max-width: 600px;
            }
        }
    }
    section {
        flex-direction: column;
    }
}

[data-lightbox-group] {
    cursor: pointer;
}
