.project-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.project-details {
    min-width: 33%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 0 20px;
    line-height: 26px;

    strong {
        font-weight: 700;
    }
}

.project-intro {
    padding: 0 20px;
}

.project-link {
    line-height: 30px;

    a {
        color: $ORANGE;
    }
}

.main-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 0 48px;

    @include screen-small-only {
        padding: 0 20px;
    }
}

section {
    margin-top: 40px;
}

.content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

    blockquote {
        margin-top: 10px;
    }
}

.traverse {
    .screens-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;

        @include screen-small-only {
            flex-direction: column;
            max-width: 300px;
            margin-right: auto;
            margin-left: auto;
        }

        @include screen-medium {
            div {
                width: 30%
            }
        }
    }
    section {
        a {
            color: $ORANGE;

            &:hover {
                color: $DARK_GRAY;
            }
        }
    }
}
