.tile {
    height: 300px;
    width: 100%;
    border: 3px solid $DARK_GRAY;
    background-size: cover;
    margin: 5px;

    &.small {
        width: 40%;
    }

    &.wide {
        width: 60%;
    }

    &.mycite {
        background-image: url('img/mycite_back.jpg');
    }

    &.ybvr_white_label {
        background-image: url('img/ybvr_white_label_back.png');
    }

    &.ybvr_brand {
        background-image: url('img/ybvr_brand_back.png');
    }

    &.traverse {
        background-image: url('img/traverse_back.png');
    }

    &.amma {
        background-image: url('img/amma_back.jpg');
    }

}

.tile-image {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        opacity: 0.7;
    }
}

.title-container {
    position: absolute;
    margin-top: -55px;
    margin-left: 25px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 700;
        line-height: 20px;
    }
    .subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}

.tile-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.tile-cover {
    height: 100%;
    background-image: linear-gradient(180deg, transparent 54%, #fff);
}
