.tile {
    height: 300px;
    width: 100%;
    border: 3px solid $DARK_GRAY;
    background-size: cover;
    background-position: 50% 50%;
    margin: 5px;

    &.small {
        width: 40%;
        @include screen-small-only {
            width: auto;
        }
    }

    &.wide {
        width: 60%;
        @include screen-small-only {
            width: auto;
        }
    }

    &.full-width {
        width: auto;
        @include screen-medium {
            width: 100%;
        }
        height: 84px;
    }

    &.mycite {
        background-image: image-url('mycite/calendar.jpg');
    }

    &.ybvr_white_label {
        background-image: image-url('ybvr_white_label/forest.png');
    }

    &.ybvr_brand {
        background-image: image-url('ybvr_brand/yosemite.jpg');
    }

    &.traverse {
        background-image: image-url('traverse/map2.png');
        background-position: 40% 50%;
    }

    &.amma {
        background-image: image-url('amma/runner.jpg');
    }

    &:hover {
        .tile-image {
            background-size: 50%;
            @include screen-medium {
                background-size: 110%;
            }
            @include screen-large {
                background-size: 90%;
            }

            &.ybvr_white_label {
                @include screen-medium {
                    background-size: 85%;
                }
                @include screen-large {
                    background-size: 75%;
                }
            }
            &.mycite,
            &.ybvr_brand {
                @include screen-small-only {
                    background-size: 60%;
                }
            }
        }

        .tile-image.other {
            background-size: 110%;
        }
    }

}

.tile-image {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    // background-size: contain;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include screen-medium {
        background-position: 50% 30%;
        background-size: 100%;
    }

    @include screen-large {
        background-position: 50% 0;
        background-size: 80%;
    }

    transition: background-size 0.5s;
    -moz-transition: background-size 0.5s;
    -ms-transition: background-size 0.5s;
    -o-transition: background-size 0.5s;
    -webkit-transition: background-size 0.5s;

    &.mycite {
        background-image: image-url('mycite/tile_flower.png');
    }

    &.ybvr_white_label {
        background-image: image-url('ybvr_white_label/tile_headset.png');
        @include screen-medium {
            background-size: 80%;
            background-position: 50% 130%;
        }
        @include screen-large {
            background-size: 65%;
            background-position: 50% 50%;
        }
    }

    &.ybvr_brand {
        background-image: image-url('ybvr_brand/tile_logo.png');
    }
    &.ybvr_brand,
    &.mycite {
        @include screen-small-only {
            background-size: 50%;
            background-position: 50% 50%;
        }
    }

    &.traverse {
        background-image: image-url('traverse/tile_phone.png');
    }

    &.amma {
        background-image: image-url('amma/tile_phone.png');
    }

    &.other {
        background-image: image-url('vyw_logo.svg');
        background-size: 100%;
        background-position: 50% 30%;
    }
}

.tile-cover {
    background-image: linear-gradient(180deg, transparent 54%, #fff);
    position: relative;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &.other {
        position: relative;
        text-align: center;
    }

    .title {
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 700;

        @include screen-medium {
            font-size: 26px;
        }
    }
    .subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}

.title-container {
    padding: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.tile-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    @include screen-small-only {
        flex-direction: column;
    }
}

.tile-cover {
    height: 100%;
    background-image: linear-gradient(180deg, transparent 54%, #fff);
}
