body, html {
    font-family: Lato, sans-serif;
    color: $DARK_GRAY;
}

a {
    color: $DARK_GRAY;
    text-decoration: none;
}

h1 {
    margin: 0;
    color: $DARK_GRAY;
    font-size: 48px;
    font-weight: bold;
    line-height: 44px;
}

h2 {
    margin: 0 0 18px 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

}

h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 24px 0 0 0;
}

h6 {
    margin-top: 24px;
    margin-bottom: 8px;
    color: $DARK_GRAY;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
}

p {
    color: $DARK_GRAY;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;

    width: auto;
    margin: 10px 0px;
    padding-right: 0px;
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    text-align: left;

    +p {
        margin-top: 24px;
    }
}

.body {
    width: auto;
    margin: 10px 0px;
    padding-right: 0px;
    font-family: Lato, sans-serif;
    color: $DARK_GRAY;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    text-align: left;
}

.bold-text {
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-left: 3px solid #ffd756;
}

.bold-text-2 {
    margin-right: 0px;
    font-size: 14px;
}


blockquote {
    margin: 0 0 10px 0;
    padding: 0 10px;
    font-size: 18px;
    line-height: 26px;

    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: $DARK_GRAY;

    a {
        &:hover {
            color: $ORANGE;
        }
    }
}

i {
    font-style: italic;
}
