body, html {
    font-family: Lato, sans-serif;
    color: $DARK_GRAY;
}

a {
    color: $DARK_GRAY;
    text-decoration: none;
}

h1 {
    margin: 0;
    color: $DARK_GRAY;
    font-size: 48px;
    font-weight: bold;
    line-height: 44px;
}

h2 {
    margin: 0 0 18px 0;
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 24px 0 0 0;
}

p {
    color: $DARK_GRAY;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;

    width: auto;
    margin: 10px 0px;
    padding-right: 0px;
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    text-align: left;
}

.body {
    width: auto;
    margin: 10px 0px;
    padding-right: 0px;
    font-family: Lato, sans-serif;
    color: $DARK_GRAY;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    text-align: left;
}

.bold-text {
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-left: 3px solid #ffd756;
}

.bold-text-2 {
    margin-right: 0px;
    font-size: 14px;
}
