$WHITE: #FFFFFF;
$BLACK: #000000;
$LIGHT_GRAY: #ECECEC;
$MED_GRAY: #EEEEEE;
$GRAY: #9b9b9b;
$DARK_GRAY: #4a4a4a;
$YELLOW: #FFD756;
$ORANGE: #FAB84A;
$FADED_ORANGE: #E89F5E;
$DARK_ORANGE: #F49C50;

$DOT_UNSELECTED: #878787;
$DOT_SELECTED: $WHITE;

$YBVR_DARK: #333132;

$CONTENT_MARGIN: 20%;
$FOOTER_HEIGHT: 170px;
$ABOUT_MARGIN_TOP: 140px;
$INNER_MARGIN_TOP: 60px;

$Z_INDEX_HEADER: 5;
$Z_INDEX_LIGHTBOX: 10;
$Z_INDEX_LIGHTBOX_CLOSE: 11;
$Z_INDEX_LIGHTBOX_IMAGE: 12;

$ASSET_BASE_PATH: 'http://dsxhlwnbcmyjm.cloudfront.net/vywong';

@function image-url($path) {
    @return url($ASSET_BASE_PATH + '/' + $path)
}

$screen-tiny-max: 600px;
$screen-sml-min: $screen-tiny-max + 1;
$screen-sml-max: 599px;
$screen-med-min: $screen-sml-max + 1;
$screen-med-max: 1024px;
$screen-lrg-min: $screen-med-max + 1;

@mixin screen-tiny {
    @media (max-width: #{$screen-tiny-max}) {
        @content;
    }
 }

@mixin screen-small {
    @media (min-width: #{$screen-sml-min}) and (max-width: #{$screen-sml-max}) {
        @content;
    }
 }
 @mixin small-screens {
    @media (max-width: #{$screen-sml-max}) {
        @content;
    }
 }
 @mixin not-small-screens {
     @media (min-width: #{$screen-med-min}) {
         @content;
     }
 }

 @mixin screen-medium {
    @media (min-width: #{$screen-med-min}) {
        @content;
    }
 }

 @mixin screen-large {
    @media (min-width: #{$screen-lrg-min}) {
        @content;
    }
 }

.hide-for-small-screen {
    @include screen-small {
        display: none !important;
    }
}
