.ybvr-brand,
.ybvr-white-label {
    .before-after-container {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: space-between;
        margin-bottom: 24px;

        @include screen-small {
            flex-direction: column;
        }

        .before, .after {
            border: 3px solid $DARK_GRAY;
            padding: 16px;
            text-transform: uppercase;
        }

        .before {
            margin-right: 10px;
            @include screen-small {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
        .after {
            margin-left: 10px;
            @include screen-small {
                margin-left: 0;
            }
        }
    }
}

.iterations {
    font-size: 14px;
}

.dark-before-after {
    margin-top: 48px;
}

.ybvr-dark {
    background-color: $YBVR_DARK;
    color: $WHITE;
}
