@import 'variables.scss';
@import 'typography.scss';

@import 'header.scss';
@import 'footer.scss';

@import 'lightbox.scss';

#root {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    margin: 16px 0;
}

.inner {
    padding: 0 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: $INNER_MARGIN_TOP;
    max-width: 730px;

    @include screen-large {
        max-width: 940px;
    }

    @include screen-small-only {
        padding: 0 20px;
    }
}

.homepage {
    padding-top: 80px;

    .homepage-header {
        text-transform: uppercase;
    }
}

.tile-container {
    margin-top: 60px;
    @import 'tiles.scss';
}

.hero-container {
    height: 100vh;
    @import 'hero.scss';
}

@import 'project.scss';

@import 'ybvr.scss';

.about {
    $ABOUT_MARGIN_TOP: 140px;
    // 100vh - (about-content margin-top) - (footer-height) - (footer.inner margin top)
    min-height: calc(100vh - #{$ABOUT_MARGIN_TOP} - #{$FOOTER_HEIGHT} - #{$INNER_MARGIN_TOP});

    .about-content {
        max-width: 80%;
        @include screen-medium {
            max-width: 780px;
        }
        @include screen-large {
            max-width: 925px;
        }
        margin: $ABOUT_MARGIN_TOP auto 0 auto;
    }
    h1 {
        text-transform: uppercase;
    }

    .items {
        margin-top: 16px;
    }

    .profile {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        align-items: flex-start;

        @include screen-small-only {
            flex-direction: column;
        }
        img {
            max-height: 400px;
            height: auto;
            width: auto;
            object-fit: contain;
        }
    }

    .profile-text {
        padding: 0;
        @include screen-medium {
            padding: 0 30px;
        }
    }

    img {
        width: 400px;
        height: 400px;
    }
}

