body, html {
  font-family: Lato, sans-serif;
  color: #4a4a4a; }

a {
  color: #4a4a4a; }

h1 {
  margin: 0;
  color: #4a4a4a;
  font-size: 48px;
  font-weight: bold;
  line-height: 44px; }

p {
  color: #4a4a4a;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  width: auto;
  margin: 10px 0px;
  padding-right: 0px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  text-align: left; }

.bold-text {
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-left: 3px solid #ffd756; }

.bold-text-2 {
  margin-right: 0px;
  font-size: 14px; }

.header {
  height: 80px;
  position: fixed;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0; }
  .header .logo {
    height: 60px;
    margin-top: 20px; }

.footer {
  height: 170px;
  background-color: #1f1f1f;
  color: #999;
  margin-top: 24px;
  text-align: center;
  text-transform: uppercase; }
  .footer .inner {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer .title {
    height: 48px; }
  .footer .footer-title {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    float: none;
    color: #ececec;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-align: left; }
  .footer .link-container {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .footer .link-container .link-column {
    display: flex;
    flex-direction: column;
    width: 140px; }
    .footer .link-container .link-column > div {
      pointer-events: none; }
  .footer a.footer-link {
    color: #616161;
    font-size: 14px;
    text-align: center;
    padding-bottom: 5px;
    line-height: 18px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s; }
    .footer a.footer-link:hover {
      color: #f49c50;
      cursor: pointer; }

.inner {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px; }

.homepage {
  padding-top: 80px; }
  .homepage .homepage-header {
    text-transform: uppercase; }
  .homepage blockquote {
    margin: 0 0 10px 0;
    padding: 0 10px;
    font-size: 18px;
    line-height: 26px;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #4a4a4a; }

.tile-container {
  margin-top: 60px; }
  .tile-container .tile {
    height: 300px;
    width: 40%;
    border: 3px solid #4a4a4a;
    background-size: cover; }
    .tile-container .tile.mycite {
      background-image: url("img/mycite_back.jpg"); }
  .tile-container .tile-image {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .tile-container .tile-image img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; }
  .tile-container .title-container {
    position: absolute;
    margin-top: -55px;
    margin-left: 25px;
    font-family: "Open Sans", sans-serif; }
    .tile-container .title-container .title {
      text-transform: uppercase;
      font-size: 36px;
      font-weight: 700;
      line-height: 20px; }
    .tile-container .title-container .subtitle {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; }
  .tile-container .tile-cover {
    height: 100%;
    background-image: linear-gradient(180deg, transparent 54%, #fff); }

/*# sourceMappingURL=App.css.map */
